*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    text-decoration: inherit;
    line-height: inherit;
    color: inherit;
    list-style-type: none;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    line-height:30px;
    color:#444;
    text-shadow: 1px 1px 0px #fff;
}

body {
    text-align: center;
}

h1{
    font-size:36px;
    line-height:50px;
    font-weight:bold;
}
img{
    border-radius: 50%;
}

.hero{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    border:0;
    padding:0;
}

.headshot{
    transition:transform 1s;
    margin-left:auto;
    margin-right: auto;
    width: 485px;
    height: 470px;
}

.headshot:hover{
    transform:rotate(360deg)
}

.list li{
    display:inline;
    font-weight:bold;
    border-style:solid;
    border-width:20px;
    border-color: #eee;
}
.blocklist > li{
    display:flex;
    justify-content:center;
    outline: 1px #fff;
}
.blocklist > li > img{
    margin: 0 10px;
}


.blocklist > li:nth-child(odd){
    flex-direction:row;
    text-align:left;
    border-left:0;
}

.blocklist > li:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.blocklist > li > div{
    flex-grow:1;
  
}

section{
    border-top:2px dashed #eee;
    padding: 50px 0;
    max-width:800px;
    margin:0 auto;
}

.blocklist h2{
    font-weight:bold;
}

.contact h2{
    display:inline;
}

.prose{
    text-align: justify;
    max-width:500px;
    margin: 0 auto;
}

.nav{
    width:100%;
    display: flex;
}

.nav > li{
    flex-grow:1;
}
.nav > li > a{
    display:block;
    line-height:50px;
    background-color:black;
    text-shadow:1px 1px 0px #000000;
    transition:background-color 0.2s;
}

.nav > li > a:hover{
    background-color:#fff;
}


